<!DOCTYPE html>
<html ng-app="DCToolbox">
	<head>
		<title>DCToolbox</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-treeview.min.css" />
		<link rel="stylesheet" href="css/ladda-themeless.min.css" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img class="brand-img"src="assets/DCTLogo_full_invis.png">
					DCToolbox
				</a>
			</div>
		</div>
	</div>
	<body class="container-fluid" ng-controller="TemplateControl as tControl">
		<div class="page-header">
			<h1>Template Maker <small>Generates email templates for marketing testing</h1>
		</div>

		<div class="section">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3>Step 1: Upload</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
					<form>
						<label for="subjectFile">Subjects:</label>
						<input id="subjectFile" type="file">
					</form>
				</div>
				<div class="col-md-2">
					<form>
						<label for="saluFile">Salutations:</label>
						<input id="saluFile" type="file">
					</form>
				</div>
				<div class="col-md-2">
					<form>
						<label for="introFile">Introduction:</label>
						<input id="introFile" type="file">
					</form>
				</div>
				<div class="col-md-2">
					<form>
						<label for="bodyFile">Body:</label>
						<input id="bodyFile" type="file">
					</form>
				</div>
				<div class="col-md-2">
					<form>
						<label for="signOffFile">Sign-Off:</label>
						<input id="signOffFile" type="file">
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center isolate">
					<button class="btn btn-primary btn-lg" ng-click="tControl.upload()">Upload All Text</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
					<div id="subjectTree" class="tree tree-text"></div>
				</div>
				<div class="col-md-2">
					<div id="saluTree" class="tree tree-text"></div>
				</div>
				<div class="col-md-2">
					<div id="introTree" class="tree tree-text"></div>
				</div>
				<div class="col-md-2">
					<div id="bodyTree" class="tree tree-text"></div>
				</div>
				<div class="col-md-2">
					<div id="signOffTree" class="tree tree-text"></div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
		<div class="section">
			<div class="row">
				<div class="col-md-12 text-center isolate">
					<h3>Step 2: Create Templates</h3>
					<button class="btn btn-primary btn-lg" ng-click="tControl.createTemplates()">Create All Templates</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<h4 class="text-center">Total Template Count:</h4>
					<div id="emailTree" class="tree tree-text"></div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>

		<div class="section">
			<div class="row">
				<div class="col-md-12 text-center isolate">
					<h3>Step 3: Download Templates</h3>
					<button class="btn btn-primary btn-lg" ng-click="" disabled>Download Selected</button>
					<button class="btn btn-primary btn-lg" ng-click="tControl.downloadAll()">Download All</button>
				</div>
			</div>
		</div>
	</body>

<!-- #00192D DCT Dark Blue -->
	<script type="text/javascript" src="js/lib/angular.min.js"></script>
	<script type="text/javascript" src="js/lib/angular-resource.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/lib/bootstrap-treeview.min.js"></script>
	<script type="text/javascript" src="js/lib/ladda.min.js"></script>
	<script type="text/javascript" src="js/lib/spin.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/controllers/TemplateControl.js"></script>
	<script type="text/javascript" src="js/EmailTemplate.js"></script>
</html>